name: Notify Private Repo on Push

on:
  push:
    branches: [main]
    paths:
      - 'PrinterCargoExService/**'
      - 'LabelDesigner/LabelDesigner.exe'

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect changed paths
        id: detect
        run: |
          # Lista archivos modificados en el push
          CHANGED=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})

          TRIGGER="unknown"

          if echo "$CHANGED" | grep -q "^PrinterCargoExService/"; then
            TRIGGER="PrinterCargoExService"
          fi

          if echo "$CHANGED" | grep -q "^LabelDesigner/LabelDesigner.exe$"; then
            TRIGGER="LabelDesigner.exe"
          fi

          echo "trigger=$TRIGGER" >> $GITHUB_OUTPUT

      - name: Notify private repository
        run: |
          curl -i -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.CEV }}" \
            https://api.github.com/repos/${{ secrets.OWN }}/AUTOMATITION_CERT/dispatches \
            -d "{\"event_type\":\"public-repo-updated\",\"client_payload\":{\"trigger\":\"${{ steps.detect.outputs.trigger }}\"}}"
