name: Notify Private Repo on Push

on:
  push:
    branches: [main]
    paths:
      - 'PrinterCargoExService/**'
      - 'LabelDesigner/LabelDesigner.exe'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify private repository
        run: |
          curl -i -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.CEV }}" \
            https://api.github.com/repos/${{ secrets.OWN }}/AUTOMATITION_CERT/dispatches \
            -d '{"event_type":"public-repo-updated"}'
